@model IEnumerable<UserListingModel>
@{
    ViewData["Title"] = "ListProfiles";
}

<h2>Hairdressers</h2>

<table class="table table-bordered table-responsive table-condensed table-bordered">
    <thead>
        <tr>
            <th>Profile Picture</th>
            <th>Name</th>
            <th>Rating</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var profile in Model)
        {
            <tr>
                <td>
                    <img class="img-thumbnail img-responsive img-height" src="data:image;base64,@System.Convert.ToBase64String(profile.ProfilePicture)" height="80" width="80"/>
                </td>
                <td>
                    <span>@profile.FirstName @profile.LastName</span>
                </td>
                <td>
                    @profile.Rating
                </td>
                <td>
                    <a class="btn btn-default" asp-controller="Profiles" asp-action="Details" asp-route-id="@profile.Id">View Profile</a>
                </td> 
            </tr>
        }
    </tbody>
</table>

