@inject UserManager<User> userManager

@{
    ViewData["Title"] = "Home Page";
}

<h1 class="text-center">Welcome to HairConnect!</h1>
@if (this.User.Identity.IsAuthenticated)
{
    @if (User.IsInRole(WebConstants.HairdresserRole))
    {
        <h1 class="text-center jumbotron">Check your <a asp-area="Conversations" asp-controller="Messages" asp-action="ListConversations" asp-route-id="@userManager.GetUserId(User)">messages</a> from potential customers or <a asp-area="" asp-controller="Pictures" asp-action="AddPicture">upload some pictures</a> to show them what you are capable of!</h1>
    }
    else
    {
        <h1 class="text-center jumbotron">Browse all our <a asp-area="" asp-controller="Profiles" asp-action="ListProfiles">hairdressers</a> to find the right one for yourself.</h1>
    }
}
else
{
    <h1 class="text-center jumbotron"><a asp-area="" asp-controller="Account" asp-action="Register">Register</a> or <a asp-area="" asp-controller="Account" asp-action="Login">login</a> now to find the perfect hairdresser for yourself or popularize your own hair salon.</h1>
} 
