@model DeletePictureModel

@{
    ViewData["Title"] = "DeletePicture";
}

<div class="text-center">
    <h2>Are you sure you want to delete this?</h2>
    <img class="img-thumbnail img-responsive img-height" src="data:image;base64,@System.Convert.ToBase64String(Model.Content)" height="500" width="500" />
    <form method="post">
        <input asp-controller="Pictures" asp-action="ConfirmDelete" asp-route-id="@Model.Id" type="submit" value="Delete" class="btn btn-danger" />
    </form>
</div>


